.catalog {
  display: grid;
  gap: 48px;

  @each $number-of-cards, $value in $screen-width {
    @media (min-width: #{$value}) {
      grid-template-columns: repeat($number-of-cards, $card-width);
    }
  }

  &__card {
    display: grid;
    justify-items: center;
    width: 200px;
    height: 300px;

    border: 1px solid $c-card-border;
    border-radius: 5px;
  }
}
